.dock {
  position: fixed;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  border-radius: 24px;
  padding: 10px 20px;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: rgba(255, 255, 255, 0.17) 0px 0px 0px 1px inset;

  z-index: 9999;
}

.list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app {
  width: 60px;
  height: 60px;
  position: relative;

  transition: width, height, margin-top;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  transition-duration: 100ms;
}

.link {
  margin-top: 8px;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  color: #fff;
}

.app img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  image-rendering: auto;
}

/* Tooltip */
.tooltip {
  position: absolute;
  top: -48px;
  left: 36%;
  transform: translateX(-50%) translateY(6px);
  opacity: 0;
  pointer-events: none;

  transition:
    opacity 140ms ease,
    transform 180ms cubic-bezier(0.22, 1, 0.36, 1);

  padding: 8px 12px;
  border-radius: 14px;
  height: 30px;
  width: max-content;

  white-space: nowrap;
  font-size: 13px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.92);

  background: rgba(18, 18, 18, 0.321);

  backdrop-filter: blur(16px) saturate(160%) brightness(1.15);
  -webkit-backdrop-filter: blur(16px) saturate(160%) brightness(1.15);

  backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);

  box-shadow:
    0 16px 40px rgba(0, 0, 0, 0.28),
    inset 0 1px 0 rgba(255, 255, 255, 0.18);

  /* background: rgba(255, 255, 255, 0.08); */
  border: 1px solid rgba(255, 255, 255, 0.18);

  will-change: transform, opacity;
  transform: translateZ(0); /* or translate3d(0,0,0) */
  backface-visibility: hidden;
  contain: paint;
  transition:
    transform 180ms ease-out,
    background 180ms ease;
}

/* Shine highlight like Apple */
.tooltip::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.03) 55%,
    rgba(255, 255, 255, 0.02)
  );
  opacity: 0.9;
}

/* show tooltip */
.app:hover .tooltip,
.app:focus-within .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/* Main hover magnification */
.app:hover {
  width: 90px;
  height: 90px;
  margin-top: -30px;
}

/* Right side scaling */
.app:hover + .app {
  width: calc(80px + var(--dock-offset-right, 0px));
  height: calc(80px + var(--dock-offset-right, 0px));
  margin-top: calc(-20px + var(--dock-offset-right, 0px) * -1);
}

.app:hover + .app + .app {
  width: calc(70px + var(--dock-offset-right, 0px));
  height: calc(70px + var(--dock-offset-right, 0px));
  margin-top: calc(-10px + var(--dock-offset-right, 0px) * -1);
}

/* Left side scaling (requires :has support) */
.app:has(+ .app:hover) {
  width: calc(80px + var(--dock-offset-left, 0px));
  height: calc(80px + var(--dock-offset-left, 0px));
  margin-top: calc(-20px + var(--dock-offset-left, 0px) * -1);
}

.app:has(+ .app + .app:hover) {
  width: calc(70px + var(--dock-offset-left, 0px));
  height: calc(70px + var(--dock-offset-left, 0px));
  margin-top: calc(-10px + var(--dock-offset-left, 0px) * -1);
}

/* Add button */
.add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 16px;
  overflow: hidden;
  background: transparent;
  color: white;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
}
