@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Apple Glass Variables ===== */
:root {
  --glass-bg: rgba(30, 30, 30, 0.55);
  --glass-border: rgba(255, 255, 255, 0.18);
  font-family:
    "SF Pro Display",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
}

/* Smooth text like macOS */
body {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input,
textarea {
  user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

html,
body {
  font-family:
    "SF Pro Display",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}
